div#container
{
    width: 1312px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}
body
{
    background-color: #ffffff;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}
#image_1
{
    position: absolute;
    left: 531px;
    top: 176px;
    width: 272px;
    height: 92px;
    z-index: 1;
}
#editbox_1
{
    border: 1px #808080 solid;
    background-color: #FFFFFF;
    color :#000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: middle;
}
#image_2
{
    position: absolute;
    left: 901px;
    top: 296px;
    widows: 15px;
    height: 20px;
    z-index: 3;
}
#search_button
{
    border: 1px #F5F5F5 solid;
    border-radius: 1px;
    background-color: #F5F5F5;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}
#lucky_button
{
    border: 1px #F5F5F5 solid;
    border-radius: 1px;
    background-color: #F5F5F5;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}
#advertising 
{
    position: absolute;
    left: 0px;
    top: 613px;
    width: 72px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 6;
}
#advertising div
{
    text-align: left;
}
#advertising span
{
    color:#000000;font-family:Arial;font-size:13px;
}
#business 
{
    position: absolute;
    left: 73px;
    top: 613px;
    width: 63px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 7;

}
#business div
{
    text-align: left;
}
#about 
{
    position: absolute;
    left: 135px;
    top: 613px;
    width: 72px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 8;
}
#about div
{
    text-align: left;
}
#privacy 
{
    position: absolute;
    left: 995px;
    top: 613px;
    width: 72px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 9;
}
#privacy div
{
    text-align: left;
}
#terms 
{
    position: absolute;
    left: 1061px;
    top: 613px;
    width: 63px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 10;
}
#terms div
{
    text-align: left;
}
#settings 
{
    position: absolute;
    left: 1119px;
    top: 613px;
    width: 72px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 11;
}
#settings div
{
    text-align: left;
}
#use_google_co_ug 
{
    position: absolute;
    left: 1186px;
    top: 613px;
    width: 119px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 12;
}
#use_google_co_ug div
{
    text-align: left;
}
#gmail 
{
    position: absolute;
    left: 1092px;
    top: 21px;
    width: 72px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 13;
}
#gmail div
{
    text-align: left;
}
#images 
{
    position: absolute;
    left: 1144px;
    top: 21px;
    width: 63px;
    height: 16px;
    border: 0px #000000 solid;
    text-align: left;
    z-index: 14;
}
#images div
{
   text-align: left;
}
#google_options
{
    position: absolute;
    left: 1208px;
    top: 20px;
    width: 18px;
    height: 18px;
    z-index: 15;
}
#google_notification
{
    position: absolute;
    left: 1244px;
    top: 17px;
    width: 23px;
    height: 23px;
    z-index: 16;
}
#google_profile
{
    position: absolute;
    left: 1287px;
    top: 15px;
    width: 27px;
    height: 28px;
    z-index: 17;
}
a
{
   color: #505050;
   text-decoration: none;
}
a:visited
{
   color: #303030;
}
a:hover
{
   color: #404040;
   text-decoration: underline;
}
